.App {
  background-color: #2C2C2C;
  height: 100vh
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: #0093FF;

  .title-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: calc(100px + 2vmin);
    }
  }
}

.post {
  display: flex;
  flex-direction: column;
  margin: 6px;
  width: 600px;
  max-width: 95%;
  border: 1px solid black;
  border-radius: 4px;
}

.post header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.post header .header-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.post footer {
  border-top: 1px solid black;
  background-color: rgb(136, 136, 136);
}

.comment {
  border: 1px dashed aqua;
  border-radius: 4px;
  margin: 6px;
  background-color: aliceblue ;
}

.comment header {
  border-bottom: 1px dashed aqua;
}
.comment footer {
  height: 20px;
  border-top: 1px dashed aqua;
  background-color: aliceblue ;
}


.interweave li {
  background-color: red;
}