@import "./normalize.css";
@import "../sass/fonts.scss";

$app-bg-color: #2c2c2c;

$post-border-radius: 10px;

$title-text-color: #0093ff;
$source-code-reg: "SourceCodeRegular", sans-serif;
$source-code-light: "SourceCodeLight", sans-serif;
$source-sans-reg: "SourceSansRegular", sans-serif;

$white: #fff;
$light-grey: #D8D8D8;
$medium-grey: #979797;

body {
  background-color: #2c2c2c;
}

.App {
  height: 100vh;
  padding: 1rem;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: $title-text-color;

  .title-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: calc(100px + 2vmin);
      font-family: $source-code-reg;
      font-weight: 100;
      margin: 2rem 0;
    }
  }
}

.site-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post {
  background-color: $light-grey;
  border: 1px solid $medium-grey;
  display: flex;
  flex-direction: column;
  margin: 6px;
  width: 600px;
  max-width: 95%;
  padding: 1rem;
  border-radius: $post-border-radius;
  header {
    display: flex;
    justify-content: flex-start;
    .header-text {
      margin-left: 3rem;
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    h3,
    h4 {
      margin: 0;
      p {
        margin: 0;
      }
    }
  }
  footer {
    background-color: rgb(136, 136, 136);
  }
}

.article-thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .thumb-image {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #979797;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5a5a5a;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
    margin-bottom: 1rem;
  }
}

.side-content {
  h4 {
    color: $title-text-color;
    text-transform: uppercase;
  }
  p{
    color: $light-grey
  }
  section {
    padding: 2rem;
    color: $white;
    border-radius: $post-border-radius;
    background: rgba(0, 117, 153, 1); /* Old Browsers */
    background: -moz-linear-gradient(
      top,
      rgba(0, 117, 153, 1) 0%,
      rgba(0, 63, 82, 1) 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(0, 117, 153, 1)),
      color-stop(100%, rgba(0, 63, 82, 1))
    ); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 117, 153, 1) 0%,
      rgba(0, 63, 82, 1) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      rgba(0, 117, 153, 1) 0%,
      rgba(0, 63, 82, 1) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
      top,
      rgba(0, 117, 153, 1) 0%,
      rgba(0, 63, 82, 1) 100%
    ); /* IE 10+ */
    background: linear-gradient(
      to bottom,
      rgba(0, 117, 153, 1) 0%,
      rgba(0, 63, 82, 1) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007599', endColorstr='#003f52', GradientType=0 ); /* IE6-9 */
  }
}

.comment {
  border: 1px dashed aqua;
  border-radius: 4px;
  margin: 6px;
  background-color: aliceblue;
}

.comment header {
  border-bottom: 1px dashed aqua;
}
.comment footer {
  height: 20px;
  border-top: 1px dashed aqua;
  background-color: aliceblue;
}

.interweave li {
  background-color: red;
}
