.post {
  background-color: $light-grey;
  border: 1px solid $medium-grey;
  display: flex;
  flex-direction: row;
  margin: 0 1rem 2rem 0;
  // width: 600px;
  // max-width: 95%;
  padding: 1rem;
  border-radius: $post-border-radius;
  @include standard-shadow() header {
    display: flex;
    justify-content: flex-start;
    .header-text {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    h3 {
      margin: 0;
      font-family: $source-code-reg;
      font-size: 2rem;
      text-transform: uppercase;
    }
    h4 {
      margin: 0;
      p {
        font-family: $source-code-light;
      }
    }
  }
  footer {
    background-color: rgb(136, 136, 136);
  }
}

.article-body {
  width: 80%;

  footer {
    padding: 1rem;
    color: $white;
    border-radius: 4px;
    @include standard-shadow();

    .publish-date {
      margin-bottom: 0.5rem;
    }

    button {
      background-color: $title-text-color;
      color: $white;
      font-size: 0.75rem;
      text-transform: uppercase;
      line-height: normal;
      border-radius: 6px;
      margin: 0 0.5rem 0.5rem 0;
      &:hover {
        border: 2px solid $title-text-color;
      }

      &.comment-toggle-true {
        background-color: $dark-grey;
      }
      &.comment-toggle-false {
        background-color: $light-grey;
        color: $app-bg-color;
      }
    }
  }
}

.article-thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
  .thumb-image {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #979797;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5a5a5a;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
    margin-bottom: 1rem;
  }
  .article-date {
    font-family: $source-code-reg;
    font-size: 1rem;
    color: $title-text-color;
  }
}
