$app-bg-color: #2c2c2c;

$post-border-radius: 10px;

$title-text-color: #0093ff;
$source-code-reg: "SourceCodeRegular", sans-serif;
$source-code-light: "SourceCodeLight", sans-serif;
$source-sans-reg: "SourceSansRegular", sans-serif;

$white: #fff;
$light-grey: #d8d8d8;
$medium-grey: #979797;
$dark-grey: #757575;